.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px; }

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.centered-contents {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }

.v-centered {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.self-start, .form-label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: left; }

.self-center {
  -ms-flex-item-align: center;
      align-self: center; }

.padding-sm {
  padding: 5px; }

.padding-md {
  padding: 10px; }

.padding-lg {
  padding: 20px; }

.padding-xl {
  padding: 40px; }

.margin-sm {
  margin: 5px; }

.margin-md {
  margin: 10px; }

.margin-lg {
  margin: 20px; }

.margin-xl {
  margin: 40px; }

.margin-tb-sm {
  margin-top: 5px;
  margin-bottom: 5px; }

.margin-tb-md {
  margin-top: 10px;
  margin-bottom: 10px; }

.margin-tb-lg {
  margin-top: 20px;
  margin-bottom: 20px; }

.margin-tb-xl {
  margin-top: 40px;
  margin-bottom: 40px; }

.no-marg-tb {
  margin-top: 0px;
  margin-bottom: 0px; }

.container, .container-full-width, .container-1200 {
  overflow: hidden; }

.container-full-width {
  width: 100%; }

.container-1200 {
  width: 1200px; }

.white-bg {
  background-color: white; }

.light-bg {
  background-color: #E0E0E0; }

.dark-bg {
  background-color: #424242;
  color: white; }

.primary-bg {
  background-color: #6F36FF; }

.secondary-bg {
  background-color: #8b63f2; }

.alt-bg {
  background-color: #FF8BAE; }

.campaign-bg {
  background-image: url("/assets/images/campaign.jpg"); }

.grow-shrink {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.logo {
  height: 50px;
  width: 50px;
  background-color: lightgray;
  border-radius: 50px; }

.nav-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ff3264;
  height: 50px;
  width: 50px;
  padding: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.icon-bar {
  background-color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  max-height: 5px; }

.mobile-nav {
  position: absolute;
  min-height: 100vh;
  width: calc(100% - 20px);
  background-color: #ff3264;
  display: none;
  overflow: hidden;
  padding: 10px 10px 0px 10px;
  z-index: 1; }

.menu-button {
  background-color: white;
  margin-bottom: 10px; }

input[type=text] {
  height: 35px; }

input[type=checkbox], input[type=radio] {
  display: none; }

input[type=checkbox] + label,
input[type=radio] + label {
  font-size: 0.8em;
  background-color: #E0E0E0;
  color: #424242;
  padding: 10px;
  margin: 5px;
  min-width: 30px; }

input[type=checkbox]:checked + label,
input[type=radio]:checked + label {
  background-color: #E91E63;
  color: white; }

.check-radio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  padding: 5px; }

.form-label {
  margin: 10px 0px 3px 3px; }

.button_one {
  height: 50px;
  width: 200px;
  background-color: #6F36FF;
  color: white;
  border: none; }

.button_one:active {
  margin-top: 3px;
  height: 50px;
  width: 200px;
  background-color: #6F36FF;
  color: white;
  border: none; }

.button_one:focus {
  outline: 5px; }
