//Variables

$white: white;
$light: #E0E0E0;
$dark: #424242;
$black: #212121;
$primary-color: #6F36FF;
$secondary-color: #8b63f2;
$contrast-color: #E91E63;
$alt-color: #FF8BAE;

.flex {
  display: flex;
  overflow: hidden;
}

.flex-column {
  flex-direction: column;
  flex: 1 0 200px;
}

.wrap {
  flex-wrap: wrap;
}

.centered-contents {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.v-centered {
  align-items: center;
}

.self-start {
  align-self: flex-start;
  text-align: left;
}

.self-center {
  align-self: center;
}

.padding-sm {
  padding: 5px;
}

.padding-md {
  padding:10px;
}

.padding-lg {
  padding: 20px;
}

.padding-xl {
  padding: 40px;
}

.margin-sm {
  margin: 5px;
}

.margin-md {
  margin: 10px;
}

.margin-lg {
  margin: 20px;
}

.margin-xl {
  margin: 40px;
}

.margin-tb-sm {
  margin-top: 5px;
  margin-bottom:5px;
}

.margin-tb-md {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-tb-lg {
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin-tb-xl {
  margin-top: 40px;
  margin-bottom: 40px;
}


.no-marg-tb {
  margin-top: 0px;
  margin-bottom: 0px;
}

.container {
  overflow: hidden;
}

.container-full-width {
  @extend .container;
  width: 100%;
}

.container-1200 {
    @extend .container;
  width: 1200px;
}

.white-bg {
  background-color: $white;
}

.light-bg {
  background-color: $light;
}

.dark-bg {
  background-color: $dark;
  color: $white;
}

.primary-bg {
  background-color: $primary-color;
}

.secondary-bg {
  background-color: $secondary-color;
}

.alt-bg {
  background-color: $alt-color;
}

.campaign-bg {
  background-image: url("/assets/images/campaign.jpg");
}
.grow-shrink {
  flex:1 1 auto;
}

.nav {
  justify-content: space-between;
  align-items: center;
}




.logo {
  height: 50px;
  width: 50px;
  background-color: lightgray;
  border-radius: 50px;
}

.nav-icon {
  display: flex;
  flex-direction: column;
  background-color: #ff3264;
  height: 50px;
  width: 50px;
  padding: 10px;
  justify-content: space-around;
}

.icon-bar {
  background-color: white;
  flex: 1 0 auto;
  max-height: 5px;
}

.mobile-nav {
  position: absolute;
  min-height: 100vh;
  width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
  background-color: #ff3264;
  display: none;
  overflow: hidden;
  padding: 10px 10px 0px 10px;
  z-index: 1;
}

.menu-button {
  background-color: white;
  margin-bottom: 10px;
}


//Form


input[type=text] {
height: 35px;
}

input[type=checkbox], input[type=radio] {
  display: none;
}

input[type=checkbox] + label,
input[type=radio] + label {
  font-size: 0.8em;
  background-color: $light;
  color: $dark;
  padding: 10px;
  margin: 5px;
  min-width: 30px;
}

input[type=checkbox]:checked + label,
input[type=radio]:checked + label {
  background-color: $contrast-color;
  color: $white;
}

.check-radio-container {
  display: flex;
  background-color: $white;
  padding: 5px;
}

.form-label{
  @extend .self-start;
  margin: 10px 0px 3px 3px;
}


//Buttons
.button_one {
  height: 50px;
  width: 200px;
  background-color: #6F36FF;
  color: white;
  border: none;
}

.button_one:active {
  margin-top: 3px;
  height: 50px;
  width: 200px;
  background-color: #6F36FF;
  color: white;
  border: none;
}

.button_one:focus {
    outline: 5px;
}
